<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-card *ngFor="let p of photos">
        <img [src]="p.thumbnailUrl">
        <ion-card-content>
          <p>{{p.title}}</p>
          <p>{{p.albumId}}</p>: <a [href]="p.url" target="_blank">{{p.url}}</a>
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
